
MyApp/obj/Debug/netcoreapp3.1/Razor/Views/Account/Login.cshtml.g.cs
MyApp/obj/Debug/netcoreapp3.1/MyApp.csprojAssemblyReference.cache
CommonLibrary/obj/Debug/netcoreapp3.1/CommonLibrary.csprojAssemblyReference.cache
*.dll
*.pdb
*.cache
MyApp/bin/Debug/netcoreapp3.1/Settings/DotNetNoteSettings.json
*.json
*.props
*.jpg
MyApp/appsettings.json
