@model StudentTeacherViewModel
@{
    ViewBag.Title = "Home";
    //Layout = "../Shared/_layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <h2>Back End Developer</h2>
        <p>스마트팩토리 분야에서, 설비로부터 나온 데이터를 가공하고 분석하는 MES 일을 하고 있습니다</p>
        <p>
            [C/S] WPF, Winform <br />
            [Web] Spring, ASP.NET
        </p>
    </div>
    <h3>Career <img src="~/assets/svg/account_circle.svg" alt="account_circle" width="30" height="30"></h3>
    <div class="container">
        <div>
            <g style="font-size:21px; font-weight:600">TPSS</g><g style="color:#808080;"> (2019년 5월 ~ 현재)</g>
        </div>
        <p>
            스마트 팩토리, MES 관련 삼성전자 반도체 공장 라인의 각 생산성 지표를 뽑아내고 관리하는 시스템을
            개발 운영하고 있습니다.
        </p>
        <p>C#, Java, Javascript, Oracle, .Net, Spring</p>
        <br />
        <g style="font-size:21px; font-weight:600">S-MASS</g><g style="color:#808080;"> (2018년 7월 ~ 2019년 5월)</g>
        <p>
            스마트팩토리, MES 관련 삼성전자 스마트폰 메탈 바디가공 공장의 자동화 시스템을 개발하고 운영 했습니다.
        </p>
        <p>C#, Oracle, .Net</p>
        <br />
    </div>
    <h3>Git Hub <img src="~/assets/img/GitHub-Mark-32px.png" alt="github" width="28" height="28" /></h3>
    <div class="container">
        <a href="https://github.com/jinsujj">https://github.com/jinsujj</a>
        <br /><br />
        <h5>JS-Portfolio</h5>
        <a href="https://github.com/jinsujj/MyApp">https://github.com/jinsujj/MyApp</a>
        <p>C#,.NET Core, Nginx, MySQL, Linux </p>
        <br />
        <h5>29금 심리테스트</h5>
        <a href="https://github.com/jinsujj/sexualTest">https://github.com/jinsujj/sexualTest</a>
        <p>Python, Flask, javascript, MongoDB, AWS</p>
        <br />
        <h5>가심비 영화관</h5>
        <a href="https://jinsu-blog.iptime.org/DotNetNote/Details/3">https://jinsu-blog.iptime.org/DotNetNote/Details/3</a>
        <p>RaspBerryPi4, Linux, BeamProjector </p>
    </div>
    <hr />
    <h6>자세한 내용은 Portfolio 탭에서 확인하실 수 있습니다.</h6>
</div>
@*@await Html.PartialAsync("_TeacherTable", Model)*@