@model LoginViewModel

@{
    ViewData["Title"] = "로그인";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-8">
        <hr />
        <form method="post" class="form-horizontal" style="max-width:460px;">
            <div class="form-group">
                <label asp-for="Email">E-mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-primary">로그인</button>
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]"
                       class="btn btn-default btn-sm">회원가입</a>
                </div>
            </div>
            @if (ViewBag.IsLoginFailed != null && Convert.ToBoolean(ViewBag.IsLoginFailed))
            {
                <div class="col-md-8">
                    5번 로그인 실패, 10분 후에 다시 로그인 해주세요.
                </div>}
            @if (ViewBag.WrongPwd == true)
            {
                <div class="col-md-8" style="color:red">
                    비밀번호가 일치하지 않습니다.
                </div>
            }
        </form>

    </div>

</div>